@charset "UTF-8";


@media screen and (max-width: 988px){
    #escritaPrincipal{
      font-size: 2em;
    }
}

@media screen and (min-width: 800px) {

  #navbarNavDropdown{
      display: flex;
      justify-content: center;
  }

  ul{
      margin-left: -6%;
  }
}


@media screen and (max-width: 670px){

      .escrita{
        font-size: 20px;
      }
      .conteudo{
        font-size: 0.65em;
      }
      .texto{
        width: 80%;
        height: 100%;
        left: 10%;
        right: 10%;
      }
}


@media screen and (max-width: 470px){

  #escritaPrincipal{
    font-size: 1.5em;
  }
}


@media screen and (max-width: 380px){

      #escritaPrincipal{
        font-size: 1em;
      }
}

/*Galaxy Fold*/
@media screen and (max-width: 320px){

    #escritaPrincipal{
        font-size: 1.3em;
     } 
}